SwiffotronServiceClientExample/Service References/SwiffotronService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/Design_Time_Addresses/SWFProcessing.SwiffotronService/SWFProcessor/?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:8732/Design_Time_Addresses/SWFProcessing.SwiffotronService/SWFProcessor/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Process">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="jobXml" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProcessResult" nillable="true" type="q2:ArrayOfKeyValueOfstringbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>